<div class="card animate__animated animate__fadeIn">
    <img class="card-img-top" src="assets/images/avatar_{{index + 1}}.png" alt="avatar">
    <div class="card-body" [formGroup]="control">
        <div class="form-group">
            <label for="player-1">Jugador {{ index + 1 }}</label>
            <input type="text" appError [control]="control.get('name')" formControlName="name" class="form-control">
            <app-show-error-component [control]="control.get('name')"></app-show-error-component>
        </div>
    </div>
</div>