<div class="game-container container">
    <div class="row">
        <div class="col-md-12 sd-3">
            <h2 class="text-center">Bienvenidos, por favor registre los jugadores</h2>
        </div>
        <div class="col-md-12 sd-3">
            <div class="form-container">
                <form novalidate [formGroup]="gameForm">
                    <div class="row">
                        <ng-container *ngFor="let player of players.controls; let i=index">
                            <div class="col-md-6">
                                <app-player-game-component [index]="i" [control]="player"></app-player-game-component>
                            </div>
                        </ng-container>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-actions">
                <input class="btn btn-primary animate__animated animate__fadeIn" [disabled]="gameForm.invalid" value="Empezar" (click)="start()" />
            </div>
        </div>
    </div>
</div>