<div class="title sd-3">
    <h1 class="text-center">Ronda {{ currentGame?.rounds?.length + 1 }}</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <ng-wizard [config]="config">
                <ng-wizard-step [title]="currentGame?.players[0].name">
                    <app-player-round-component [player]="currentGame?.players[0]" (move)="handlePlayerMove($event)">
                    </app-player-round-component>
                </ng-wizard-step>
                <ng-wizard-step [title]="currentGame?.players[1].name">
                    <app-player-round-component [player]="currentGame?.players[1]" (move)="handlePlayerMove($event)">
                    </app-player-round-component>
                </ng-wizard-step>
            </ng-wizard>
        </div>
        <div class="col-md-6">
            <app-scoreboard-component [rounds]="currentGame?.rounds"></app-scoreboard-component>
        </div>
    </div>
</div>