<div class="move-container">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="playerMoveForm" (ngSubmit)="handleBtnNext()" novalidate>
                <div class="form-group">
                    <label for="moveTypes">Seleccionar movimiento</label>
                    <select class="form-control" formControlName="moveTypeId" appError [control]="moveType">
                        <option value="">-</option>
                        <option *ngFor="let moveType of moveTypes" [value]="moveType.id">{{ moveType.name }}</option>
                    </select>
                    <app-show-error-component [control]="moveType"></app-show-error-component>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Siguiente"
                        [disabled]="playerMoveForm.invalid" />
                </div>
            </form>
        </div>
    </div>
</div>