<div class="container">
    <div class="row sd-3">
        <div class="col-md-12">
            <h2 class="text-center animate__animated animate__fadeIn">El juego ha finalizado, el ganador es {{ winnerInfo?.name }} </h2>
        </div>
    </div>
    <div class="winner-actions-container">
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-secundary" (click)="rematch()">Revancha</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary" (click)="newGame()">Nuevo juego</button>
            </div>
        </div>
    </div>
</div>