<div class="card">
    <div class="card-header text-center">
        Resultado parcial
    </div>
    <div class="card-body">
        <div class="row">
            <ng-container *ngIf="rounds?.length === 0; else results">
                <div class="col-md-12">
                    <h3 class="text-center">No hay resultados disponibles</h3>
                </div>
            </ng-container>
            <ng-template #results>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            Ronda
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" *ngFor="let round of rounds; let i = index">{{ i + 1 }}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            Ganador
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" *ngFor="let round of rounds">{{
                                round?.roundResultInfo?.winnerInfo?.name || "Empate" }}</li>
                        </ul>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>